[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boxsdk = {extras = ["jwt"], version = "*"}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
