[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pyzbar = "*"
psycopg2-binary = "*"
boto3 = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
